npm install -g youtube-dl
npm install -g node-run-cmd
npm install -g rss-parser
npm install -g venom-bot
npm install -g fs
npm install -g mime-types
npm install -g ytdl-core
npm install -g axios
npm install -g request
npm install -g path
npm install -g readline
npm install -g image-size
sudo apt-get install imagemagick

